.hero-nosotros{
    background-image: linear-gradient(rgba(33, 44, 61, 0.8), rgba(33, 44, 61, 0.8)), url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 400px;

    display: flex;
    align-items: center;
}

.logo-img {
    max-height: 65px; /* Esto restringe el alto sin deformar la imagen */
    width: auto;
}